[2013-08-26 09:57] tomaszkubacki opened #2 "mvn install - test failing"
I've got following test output on mvn install

Running de.spinscale.dropwizard.jobs.parser.TimeParserUtilTest
Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.044 sec
Running de.spinscale.dropwizard.jobs.JobsBundleTest
11:48:10.839 [main] DEBUG org.eclipse.jetty.util.log - Logging to Logger[org.eclipse.jetty.util.log] via org.eclipse.jetty.util.log.Slf4jLog
11:48:10.871 [main] ERR

[2013-08-27 11:15] hakandilek opened #4 "Adaptation for dropwizard 0.7.0-SNAPSHOT"
Any effort for dropwizard 0.7 support?

[2014-03-18 20:34] #4 closed, assigned to nobody

[2014-03-18 20:43] hakandilek opened #8 "Dependency injection"
What do you think about introducing a DI library like Guice or Spring? I like @yunspace's Guice integration in yunspace/dropwizard-jobs@71f30e452f878852966c73b3288b85bcf9e45a0a, but it introcudes a direct dep to Guice. Should we seperate poms like:
- dropwizard-jobs
- dropwizard-jobs-guice
- dropwizard-jobs-spring

where the latter two contain dependencies to the corresponding DI libs?

[2014-03-29 04:41] maksimu opened #10 "Maven repository is missing"
I'm using dropwizard-jobs in my maven project. When maven is downloading this library from [Sonatype repository](http://oss.sonatype.org/content/repositories/snapshots/de/spinscale/) it is complaining that the library is missing there.

[ERROR] Failed to execute goal on project procurement-service: Could not resolve dependencies for project edu.sjsu.cmpe:procurement-service:jar:0.0.1-SNAPSHOT: Cou

[2014-04-07 18:04] #8 closed, assigned to nobody

[2014-04-07 18:06] #2 closed, assigned to nobody

[2014-12-16 12:40] meshuga opened #13 "License information"
Please provide which kind of licence is used in the project.

[2015-02-02 13:48] spinscale commented on #13
doh.. we should add that

@hakandilek @simoncurd objects against Apache License? pinging you because you committed code here as well

[2015-02-02 13:50] hakandilek commented on #13
Apache License sounds nice. Thanks for asking though.

[2015-02-24 21:33] eyalgo commented on #10
hi,
is it released to any public repository?

Thanks !

[2015-02-25 15:25] hakandilek commented on #10
@yunspace wanted to do it but we have'nt heard from him for a long time.

@eyalgo, would you like to take it over?

[2015-02-25 23:11] eyalgo commented on #10
Hi,
I would like that.

Please note, I am fairly new with DW.

What are the open issues? Or is it just deploying it?

Thanks !

*Eyal Golan*

Connect

[image: Gmail] <egolan74@gmail.com> [image: LinkedIn]
<http://www.linkedin.com/in/egolan74> [image: My Blog]
<http://eyalgo.com/> [image:
Twitter] <http://twitter.com/eyalgo_egolan> [image: Skype] [image: GitHub]
<https://github.com/eyalgo> [image:

[2015-02-26 16:22] hakandilek commented on #10
@eyalgo, we've already agreed to release it with the current state. Just remove the "-SNAPSHOT" suffixes and roll it. :-)

[2015-02-27 19:16] eyalgo commented on #10
ok.
i'll keep you updated.
should i fork pull request?

*Eyal Golan*

Connect

[image: Gmail] <egolan74@gmail.com> [image: LinkedIn]
<http://www.linkedin.com/in/egolan74> [image: My Blog]
<http://eyalgo.com/> [image:
Twitter] <http://twitter.com/eyalgo_egolan> [image: Skype] [image: GitHub]
<https://github.com/eyalgo> [image: Facebook]
<http://www.facebook.com/eyal.golan.14>

P  Save a tree. Pleas

[2015-02-27 21:58] hakandilek commented on #10
Would be nice.

[2015-03-09 19:50] eyalgo commented on #10
hi,
I did a pull request.
Is there a plan for merging?

thanks,

Eyal

[2015-03-09 21:27] hakandilek commented on #10
merged.

[2015-03-13 13:45] hotmeatballsoup opened #17 "Add clustering support for jobs running on multiple nodes"
A current limitation, from the README, is that jobs scheduled/ran through this lib cannot be clustered and orchestrated across multiple nodes. This is showstopper for jobs that cannot be built for idempotency.

I am suggesting an interface be added to allow jobs to be clustered across multiple nodes, and perhaps provide one concrete implementation of this API to give users right out of the box, pe

[2015-03-13 13:46] hotmeatballsoup commented on #17
Also, I am happy to lead the charge on this, but would like to open a discussion with current maintainers as to what the best approach might be.

[2015-03-13 13:56] hotmeatballsoup opened #18 "Upgrade to Java 8"
Oracle is EOLing Java 7 [next month](http://www.oracle.com/technetwork/java/eol-135779.html#Java6-end-public-updates). Creating a ticket and I'll send a pull request for this soon.

[2015-03-26 20:51] eyalgo commented on #13
added the license.
please see " add scm element in pom #16 "

[2015-03-31 13:30] eyalgo commented on #13
One more thing,
I consulted with http://www.whitesourcesoftware.com/ in regard the license key.
They say it's enough to add it to the POM.

If all agree, let's merge my pull request and I'll deploy to maven repo.

[2015-03-31 14:36] hakandilek commented on #13
I do agree.

[2015-04-03 08:57] eyalgo commented on #13
great.
can you merge the pull request?
i will then continue from there/

[2015-04-03 09:05] spinscale commented on #13
+1... thx so much for doing all the checking!

[2015-04-25 11:39] olconstant opened #21 "Upgrade to Dropwizard 0.8.1"
It will be nice to upgrade to Dropwizard 0.8.1.

[2015-05-19 21:23] eyalgo opened #24 "wrong core dependency in guice and spring"
in pom of guice and spring the core dependency is:
<groupId>de.spinscale.dropwizard</groupId>
it should be de.spinscale

[2015-05-19 21:25] eyalgo commented on #24
This is in version 1.0.0

I will fix it and advance to 1.0.1

[2015-05-19 22:33] #24 closed

[2015-05-19 22:34] eyalgo commented on #24
Fixed in 1.0.1 and published

[2015-05-19 22:38] eyalgo commented on #10
well, it in maven central.
closing the issue.

[2015-05-19 22:38] #10 closed

[2015-10-27 11:17] ivanmobigis opened #26 "access to database objects from a job: howto?"
Sorry if this is a dumb question, but I'm struggling to see how to get a handle on a DAO or sessionFactory from inside a job. Is this possible, maybe a quick addition to the docs would be nice seeing as it's a pretty basic requirement (i think?)

cheers

-i

[2015-10-27 11:22] rizeon commented on #26
You need some kind of inject framework for that or simply initialize static methods to get handles.
One approach is to use guice included in this library, however I would advise to use other guice modules like:
https://github.com/HubSpot/dropwizard-guice
Also take a look at http://modules.dropwizard.io/thirdparty/

[2015-11-02 17:09] hakandilek commented on #26
@ivanmobigis I suppose your question is answered. Shall I close the issue?

[2015-11-03 15:25] ivanmobigis commented on #26
OK Thanks rizeon,

We managed using a static method on the main Application class that returns the session factory.. it seems to work fine and prevented the need for a whole other component/library in the mix.

There was never an 'issue' associated with this, it was more a how-to request.. anyway it can def. be closed now.

Cheers and thanks,

-ivan

From: rizeon <notifications@github.com<mailto:n

[2015-11-03 15:44] hakandilek commented on #26
@ivanmobigis, Thanks for the reply. :+1:

[2015-11-03 15:44] #26 closed

[2016-05-10 08:52] hakandilek commented on #21
not relevant anymore. we are on 0.8.4. We can discuss about dw 0.9.x or 1.0.x seperately.

[2016-05-10 08:52] #21 closed

[2016-05-10 08:54] hakandilek commented on #18
I think we should stay at the lowest version unless we really need to upgrade.
@hotmeatballsoup Do you have any PR to commit requiring Java 8+ language features?

[2016-05-10 08:56] hakandilek commented on #17
Nobody had reacted to this one over a year. @hotmeatballsoup, do you have an example?

[2016-05-17 07:51] #13 closed

[2016-08-24 12:05] plevie commented on #17
Is there any progress or a workaround?

[2016-08-27 18:42] davidwarshaw opened #35 "Deploy v1.0.2 to Maven Central"
Great plugin guys! ❤️
The latest version in Maven Central is v1.0.1. Any plans to deploy v1.0.2?
https://oss.sonatype.org/content/groups/staging/de/spinscale/dropwizard-jobs/

[2016-09-06 09:14] spinscale commented on #35
@hakandilek might make sense before upgrading to 1.0?

[2016-09-21 11:11] hakandilek commented on #35
Yes, sure. I currently have limited access through the proxy at my workstation. I'd be glad if someone takes over.

[2016-10-25 08:31] OverlyExcessive commented on #35
Any updates on this?

[2016-10-25 09:36] spinscale commented on #35
@hakandilek I ran `mvn -Prelease release:prepare` and `mvn -Prelease release:perform` but was only able to create and upload snapshots... our deployment process seems broken. Can you take a look (and sorry for the mess in the commit history)?

Or did you do the upload differently the last time?

[2016-10-25 09:46] hakandilek commented on #35
I think @eyalgo was doing the deployments. I can't deploy due to the network restrictions on my workstation.

It might make sense to publish 1.1.4 right away.

[2016-10-25 21:48] spinscale commented on #18
using java8 since upgrading to dropwizard 1.0.2

[2016-10-25 21:48] #18 closed

[2016-10-25 21:56] MusikPolice commented on #18
I wonder if that's why the Travis job is failing. It's yaml tries to set Java 1.7 as the test target. Maybe we need to update that file to target 1.8 instead

---
Jonathan Fritz
On the web: http://www.jonathanfritz.ca

On Oct 25, 2016, at 5:48 PM, Alexander Reelsen <notifications@github.com> wrote:

[2016-10-26 14:26] MusikPolice commented on #35
@hakandilek @spinscale Now that #37 is merged, I'd like to see a deployment as well. Anything I can do to help?

[2016-10-27 08:56] spinscale commented on #35
just deployed 1.1.4... we'll fix the useless version numbers soon I would say.. I have a list of other ideas to clean up the code.. some things are rather embarassing IMO

[2016-10-27 08:56] #35 closed

[2016-10-27 08:57] spinscale commented on #17
closed by #37 ?

[2016-10-27 08:57] #17 closed

[2016-10-27 19:06] davidwarshaw commented on #35
🎉

[2016-11-23 11:43] hatchy opened #39 "Deploy v2.0.0 to Maven Central"
Hi,

Great library!

I would like to make use of 2.0.0 but it is not yet available in maven central.

Are there any plans to publish this?

Thanks

[2016-11-23 12:50] eyalgo commented on #39
Hi @hatchy  ,
I published the library the last time.

I haven't touched that for a long time :)
If there is no one who can take over, I will try to find time for it.

Cheers,

[2016-11-23 14:26] MusikPolice commented on #39
I think @spinscale recently released 1.1.5.

---
Jonathan Fritz
On the web: http://www.jonathanfritz.ca

On Nov 23, 2016, at 7:50 AM, Eyal Golan <notifications@github.com> wrote:

[2016-12-17 03:59] gmaturana opened #40 "Jobs from configuration"
Hi,

I tried to run some jobs from the configuration file and I couldn't get it working.

I think that something is missing in the documentation

Could you please add an example?? thnks

[2016-12-21 15:54] ghost opened #41 "New Feature Request: Add ability to configure JobListeners via annotation"
It would be very useful to support registering a Quartz `JobListener` via similar annotations to the ones available to register jobs themselves

These allow reacting to different job lifecycle events to do things like clear down thread local values or add reporting/additional handling for failed jobs

A `JobListener` registration requires
 * an instance of `JobListener`
 * optionally a `JobKey` ma

[2016-12-28 18:52] xargsgrep opened #42 "dropwizard-jobs-guice cannot be used with dropwizard-guicey"
The GuiceJobsBundle class requires the Injector to be passed in in the init phase. With [dropwizard-guicey](https://github.com/xvik/dropwizard-guicey) however, the injector is not initialized until the run phase so it is always null at that point. I can try creating a new dropwizard-jobs-guicey module that allows bundle initialization in the run phase, but I'm not sure if that's the correct way to

[2016-12-28 20:48] MusikPolice commented on #42
I solved this problem by creating a custom Object that can accept the null Injector instance. I don't have access to the code at this minute because I'm on holidays, but I'll try to remember to post it here first thing next week.

This is a problem that we should tackle at the project level to enable better dropwizard-guicey integration.

---
Jonathan Fritz
http://www.jonathanfritz.ca

[2016-12-28 21:56] xargsgrep commented on #42
Thanks, I'm fairly new to dropwizard with guice, so an example would be helpful whenever you get a chance.

[2016-12-29 05:24] xargsgrep commented on #42
I ended up doing something like this. Curious to see how it compares to your solution.

[code]

[2017-01-03 15:21] MusikPolice commented on #42
My solution is a lot less elegant. In the `initialize(...)` method of my `Application` implementation, I did this:
[code]

And the code for `GuiceBundleInjectorWrapper` looks like this:
[code]

[2017-01-06 15:45] timja-kainos commented on #39
Any chance 2.0 can be published?

[2017-01-06 19:51] spinscale commented on #39
just released 2.0.1 (some day mvn will let me do a release without retrying a bunch of times... but not today)
https://oss.sonatype.org/content/repositories/releases/de/spinscale/dropwizard/

[2017-01-06 19:51] #39 closed

[2017-01-09 08:45] timja-kainos commented on #42
How are you guys managing to add the guice bundle to dropwizard when using guicey?

I'm on dropwizard 1.0.5 and dropwizard-jobs-guide 2.0.1 and it won't compile

Doesn't work:
[code]
Because Bootstrap only takes a `Bundle` or `ConfiguredBundle<? super T> bundle`.
`T` here is `MyConfiguration`.

The `JobsBundle` that `GuiceyJobsBundle` extends from implements `ConfiguredBundle<JobConfiguration>`
Wh

[2017-01-09 08:58] timja-kainos opened #46 "2.0.1 can't add bundle"
I'm on dropwizard 1.0.5 and dropwizard-jobs-guide 2.0.1 and it won't compile

Doesn't work:
[code]
Because Bootstrap only takes a `Bundle` or `ConfiguredBundle<? super T> bundle`.
`T` here is `MyConfiguration`.

The `JobsBundle` implements `ConfiguredBundle<JobConfiguration>`
Which means I get `ClassCastException` when trying to cast to a ConfiguredBundle because MyConfiguration isn't JobConfigura

[2017-01-09 10:14] timja-kainos commented on #46
Looks like I needed to implement the `JobConfiguration` Interface

[2017-01-11 11:28] #46 closed

[2017-01-11 12:50] timja-kainos opened #47 "Feature request: Ability to read cron schedule from config file"
It would be nice to be able to read the cron schedule from a config file

Like `@Every` currently does

This allows you to know at what time of the day a job will be run not 1 hour after application startup.

[2017-01-25 17:28] thomasmantay opened #48 "How to add bundle to bootstrap object?"
I am having difficulties to add the JobBundle to the bootstrap object in the initialize method:

    @Override
    public void initialize(final Bootstrap<MyConfiguration> bootstrap) {
        bootstrap.addBundle(new JobsBundle(new MyJob(new MyService)));
    }

The above gives me the following error:

    no suitable method found for addBundle(de.spinscale.dropwizard.jobs.JobsBundle)
    method io

[2017-01-25 20:45] xargsgrep opened #49 "Deploy 3.0.0 release"
poms have been updated to 3.0.0 but I think only @spinscale has the credentials to be able to do deploy it to the repository.

[2017-02-07 09:17] schmitzhermes commented on #48
Hey,
I stumbled upon this as well.

From the DW-Docs:
`Some bundles require configuration parameters. These bundles implement ConfiguredBundle and will require your application’s Configuration subclass to implement a specific interface.`

The README says: https://github.com/spinscale/dropwizard-jobs#usage-with-dropwizard

So, implement `JobConfiguration` in your application's config and you're goo

[2017-02-07 11:50] schmitzhermes commented on #49
Hey, it works actually pretty great. It'd be nice if you deploy the 3.0.0 to maven central so we can actually use it w/o mirroring it in our own Nexus etc. pp.

Thanks a lot in advance!

[2017-02-07 16:16] zunzunwang commented on #49
We hope It could be deployed faster. :)

[2017-02-07 16:28] spinscale commented on #49
gna, I keep forgetting this, sorry folks. I'll try to do it in the evening...

@xargsgrep if you want to deploy yourself (and you are willing to maintain in the future), why not change the groupId, so you can deploy it or create a group id everyone can deploy under?

[2017-02-07 21:39] spinscale commented on #49
3.0.0 deployed.. see https://oss.sonatype.org/content/repositories/releases/de/spinscale/dropwizard/

[2017-02-07 21:39] #49 closed

[2017-02-07 21:40] spinscale commented on #48
is this something we can do better on the dropwizard-jobs side? PRs welcome... :-)

[2017-02-07 21:44] schmitzhermes commented on #48
Hmm I have actually no idea... just playing around with dw for a couple of days. I'll come back at you when I know more about it :-)

[2017-02-08 09:34] schmitzhermes opened #50 "Configure quartz persistence via dropwizard"
Hey guys,

I tried `dropwizard-jobs` yesterday and it works pretty well. I have one major concern that I'd like to address, though.
Although just putting `quartz.properties` in the classpath is an easy way to enable persistence, it sure has its drawbacks. I thought about handling this also via Dropwizards `Configuration`.

At [https://github.com/spinscale/dropwizard-jobs/blob/master/dropwizard-job

[2017-02-08 20:56] xargsgrep commented on #49
@spinscale I already have a groupId (com.xargsgrep) that I can deploy under going forward but not sure if people would be ok with that?

[2017-02-08 21:07] spinscale commented on #49
@xargsgrep most important is, that other contributors can deploy as well... requires some allowance on sonatype if I'm not mistaken?

[2017-02-08 21:32] xargsgrep commented on #49
I'm not really sure how it works on sonatype, I'd have to look into that.

[2017-02-11 09:42] schmitzhermes commented on #48
So there is another pattern people use in dropwizard. Instead of actually implementing the `JobConfiguration` interface in your `Configuration`, people tend to provide the `ConfiguredBundle` as an abstract class that has an abstract method that supplies the application's configuration. The configuration is a generic parameter which eliminates the need to actually implement the interface.
You can s

[2017-02-16 18:21] asayah opened #52 "HI, Your Documentation is not up to date"

[2017-02-16 18:22] hakandilek commented on #52
@chiefapp which part of the documentation need update? Any help is appreciated.

[2017-03-22 15:02] danielfc opened #53 "[dropwizard-jobs-guice] Injector does not contain Job classes"
https://github.com/spinscale/dropwizard-jobs/blob/master/dropwizard-jobs-guice/src/main/java/de/spinscale/dropwizard/jobs/GuiceJobManager.java#L24

It turns out that `injector.getBindings()` doesn't contain my `Job` classes, therefore, the jobs don't get instantiated. Am I missing something? I'm using 3.0.0 versions of `dropwizard-jobs` and `dropwizard-jobs-guice`, 1.0.6 version of `dropwizard` an

[2017-03-24 11:55] lucaangellucci opened #54 "How to add dependencies to job in initilize method?"
Hi,

I need to initialize my jobs with hibernate dao, but my dao is initialized in run method and not in bootstrap one. Can I initialize JobBundle in run method?

[2017-03-26 23:16] grommitz commented on #54
Hi Luca, I use the guice integration for this. In the initialize method you can set up a guice module which takes the hibernate bundle as an argument. Then in your guice module you have access to the session factory, so you can create a producer method for your dao, so you can then inject it into the constructor of your job. HTH!

[2017-03-28 08:40] lucaangellucci commented on #54
Hi, and thanks for your reply. I don't known if I can use guice integration in my project but I make a test and it's possible to add jobs in application's run method. Do you have a plan for implements this way?

Thanks

[2017-04-17 11:14] alangiles commented on #53
I ran into the same issue. I discovered the following. You need to have a bind for your ExampleJob class in Module like below.

[code]

Then in your Application initialise() if you perform the following it works.
[code]

The reason is that your module bindings is added to baseInjector in [GuiceBundle.initialise()](https://github.com/HubSpot/dropwizard-guice/blob/dropwizard-guice-1.0.6.0/src/main/j

[2017-05-02 14:37] t-tsutsumi opened #56 "Make multiple contributors can be deployed"
This issue shares progress on this subject and to allow discussions. See also #49.

IMHO, the following tasks are required.
- [x] Create a new GitHub organization such as `dropwizard-jobs`.
- [x] Add the trusted contributors to members of the organization.
- [x] Transfer ownership of `spinscale/dropwizard-jobs` to the organization.
- [x] Revise the `pom.xml`. (groupId, scm...)
- [x] Create a [new

[2017-05-17 12:36] spinscale commented on #56
I am happy with whatever helps the community, I just dont have any time to do that myself - with the exception of transferring ownership when everything is in place.

[2017-05-17 16:48] t-tsutsumi commented on #56
@spinscale Thanks for your reply. I myself can do this work to maintain dropwizard-jobs project, but I would like to wait for about a month to see if there are other people who intend to take over the project.

[2017-06-05 10:28] 1ab1 opened #57 "Application configuration not getting injected @OnApplicationStart job"
Getting null configuration injected for a Job annotated with @OnApplicationStart.
But, working correctly when using @Every("10s") on the same job.

[2017-07-19 21:53] danielmelogpi commented on #40
@gmaturana , There is some documentation in the README.md that worked for me
-  In the Configuration class add the corresponding property:
- Then the @Every annotation can be used without a value, its value is set from the configuration:
[code]

[2017-08-01 17:30] danielforberg commented on #53
Your bugfix did not work. /Daniel

[2017-08-03 11:08] alangiles commented on #53
I've created a repo [dropwizard-jobs-issue-53](https://github.com/alangiles/dropwizard-jobs-issue-53) that showcases the fix working. I'm using version 3.0.0 of `dropwizard-jobs` and `dropwizard-jobs-guice`, 1.0.6 version of `dropwizard` and 1.0.6.0 of `dropwizard-guice`.

[2017-08-03 11:44] danielforberg commented on #53
Ok same versions here. And dropwizard 1.1.0. But get massive error message. Something about the order before bootstrap .... Did'nt use guice autoconfig. Cause i could'nt for old crappy code did not work. To have autoconfig. Currently i implemented a guava scheduler job solution.

[2017-08-03 13:25] alangiles commented on #53
Ive created a [branch 1.1.0](https://github.com/alangiles/dropwizard-jobs-issue-53/tree/1.1.0) and just tested with `enableAutoConfig` removed and `dropwizard` version 1.1.0 and it works.

[2017-08-03 20:12] danielmelogpi commented on #40
@gmaturana , can you close this one? Was that solved?

[2017-08-16 10:17] aschermann opened #61 "Bootstrap.addBundle incompatible with JobsBundle"
bootstrap.addBundle need Bundle or ConfiguredBundle<? super T> .
![2017-08-16_121328](https://user-images.githubusercontent.com/10641152/29358852-dd0b6f42-827c-11e7-80ac-4d7bd2836312.jpg)

[2017-08-24 13:03] MusikPolice commented on #56
This is an excellent idea. I merged a few pull requests today, but don't have the ability to release a new version.

[2017-08-24 13:04] #52 closed

[2017-08-24 13:06] MusikPolice commented on #50
Sounds like an excellent idea. Please submit a PR if you have time.

[2017-08-24 13:07] MusikPolice commented on #54
There are no plans to make this change that I'm aware of, but you're welcome to submit a PR if it would help you. I'm sure the rest of the community would appreciate and benefit from your efforts.

[2017-08-24 13:09] MusikPolice commented on #47
This request was implemented by @danielmelogpi

[2017-08-24 13:09] #47 closed

[2017-08-24 13:11] MusikPolice commented on #41
If you have a clear idea of how to implement this, please feel free to submit a PR.

[2017-08-24 13:11] schmitzhermes commented on #50
It's already integrated by #51  :-)

[2017-08-24 13:11] #50 closed

[2017-08-24 13:11] #40 closed

[2017-08-24 13:14] MusikPolice opened #63 "Release dropwizard-jobs v2.1.0"
We've recently received and accepted a PR that upgrades the version of Dropwizard that the project uses. This should qualify as a backward-compatible point release, but I don't know how to do the release.

[2017-08-29 21:25] derkd commented on #63
Is it possible to release 3.0.1 with the latest pr's in it?

[2017-08-29 21:41] spinscale commented on #63
I gave it a quick go, but the GPG signing with mvn3 seems broken... I cant provide a passphrase (and I wont type it in several dozen times), must be sth on my side but I havent found whats the cause yet

[2017-08-29 23:20] eonwhite commented on #61
You need to have your `DissertationProcessMicroserviceConfiguration` class implement `JobConfiguration` (see #48)

This stumped me also until I went browsing the issues -- I just submitted a PR to help clarify initial setup instructions.

[2017-09-02 10:16] derkd commented on #63
@spinscale have you tried it with this
`mvn verify -Dgpg.passphrase=thephrase` command?

[2017-10-04 19:24] MusikPolice commented on #63
@spinscale any update on getting a release out? I'd really like to improve this process so that we aren't always nagging you to do it.

[2017-11-03 12:38] karlgrund commented on #63
What's the progress here? I'm also looking forward to the latest version.

[2017-11-06 20:30] MusikPolice commented on #63
To the best of my knowledge, @spinscale is the only person with the ability to cut releases. If I'm wrong, and somebody in the community can do it, we may be able to get this task unblocked.

[2017-11-06 22:29] spinscale commented on #63
if someone fixes the GPG signing issues, that require entering the passphrase for every artifact, I am happy to deploy. My maven skills recede quickly thanks to gradle...

Also, if you want to move the whole repo into its own github org and deploy that to sonatype, please go ahead, I am happy to move the repo where ever it should be moved.

[2017-11-24 12:49] izrobin commented on #63
@spinscale
I guess you can add
`<passphrase>${gpg.passphrase}</passphrase>`
to the plugin configuration, and provide the passphrase on command line when releasing.
`-Dgpg.passphrase=myverysupersecretpassphrase`

That's one way I can think of. I'm not sure if the plugin supports using the OSX Keychain access or something similar

[2017-12-04 11:05] tomaytotomato opened #70 "Help with initialising a job that requires many dependencies"
Hi all,

Apologies but this question is a little out of scope but I am hoping you can help me.

Currently in Dropwizard I am manually triggering a job through an endpoint to update records which don't have a UUID value.

I want to now make this a Quartz job however I am having issues with initialising my dependencies which require `Configuration` instead of `Bootstrap` , as they were originally ma

[2018-01-25 16:32] eonwhite commented on #63
It's too bad that this project is having challenges cutting releases as I've found it quite useful for scheduling crons.

Due to the issues surrounding this project, and some unrelated Quartz problems I've had, I've been moving my projects away from the use of dropwizard-jobs and Quartz generally, and towards a simpler approach using a distributed worker consuming events off SQS, with crons trigge

[2018-02-13 13:17] oliver-steinbrecher commented on #63
Any updates reading a proper released version 3.0.1 . We would really like to use this library ...

[2018-02-14 17:21] gna-phetsarath opened #73 "Deploy the 3.0.1 Release?"
Hi there!  I really like this Bundle and would like to use it with my code but...I need the latest features in the `master` branch.

Would it be possible for you to cut a 3.0.1 release and deploy to Maven Central?

Thanks!

[2018-03-09 00:40] sidneyquitorio8 commented on #42
I'm on the newest version, and this is still very much a problem

[2018-03-09 22:07] bpicolo commented on #70
Looks like some people are using juice, but I think just extending the jobs bundle kinda like e.g. hibernate and similar bundles do should do the trick. Here's what I'm thinking (not tested yet)

[code]

[2018-03-13 14:41] izrobin commented on #63
@eonwhite I've made an attempt to write my open source dropwizard-quartz integration.
It doesn't support clustered quartz for instance, any DB persistence, or job configuration via yaml.
But it's very lighweight and solves our use cases at least.

Feel free to check it out, test around and contribute. It's still a work in progress.
https://github.com/izrobin/dropwizard-quartz

[2018-03-13 22:09] sidneyquitorio8 opened #74 "Ability to configure quartz via dropwizard -- not working/not deployed"
I have quartz properly configured using a `quartz.properties` file, but when I try to move these properties to my dropwizard configuration file, they seem to get ignored.

I've followed instructions from here: https://github.com/spinscale/dropwizard-jobs#using-dropwizard-jobs-in-a-clustered-environment, but it looks like the `JobConfiguration` interface from `3.0.0` doesn't have this commit yet: h

[2018-03-20 12:19] bpicolo opened #75 "Guice jobs factory doesn't function alongside Guice AOP"
Was working on using AOP to automatically inject @\UnitOfWork functionality into jobs, but looks like there's conflict because using aspects causes subclassing https://github.com/google/guice/wiki/AOP.

This conflicts in at least two ways:
1. One is that jobs aren't located because annotations are lost on subclassing (seems @\Inherited fixes that?) [Code section where this fails](https://github.co

[2018-03-27 10:25] ohallors commented on #73
We also need the features in 3.0.1, any chance of getting a release soon to Maven Central? Pretty please :-)

[2018-03-30 20:38] hakandilek commented on #56
There's some pressure to move on with this plan(see #73), so I'm giving this one a go.

[2018-03-30 20:46] hakandilek commented on #56
I did create the organization and invited the official contributors listed in the `README.md`. Tell if I'm missing someone.

@spinscale could you please transfer the ownership if everything looks ok?

[2018-03-30 20:49] hakandilek commented on #73
I'd like to but can't do it at the moment. Only @spinscale has the credentials and he usually does not have the time to do it immediately for every release. We have a solution for that though: #56

We had the same problem before deploying 3.0.0: #49

[2018-03-30 21:08] hakandilek commented on #70
I'm going to close this one because it does not look like an issue about dwj.

[2018-03-30 21:08] #70 closed

[2018-03-30 21:18] hakandilek commented on #56
After some thinking, why don't we (auto)deploy directly with travis-ci?
There are some how-tos:

- http://www.debonair.io/post/maven-cd/
- https://gist.github.com/letmaik/4060735
- https://github.com/JakeWharton/butterknife/commit/bac2342500971a3c6664629c3a63ca74d6e4819c

[2018-03-30 22:50] spinscale commented on #56
@hakandilek done

[2018-04-03 20:38] tomaytotomato commented on #70
Ok, I am still stuck with this as the job requires dependencies that need to access the config.

Can I add my config values to the quartz and access them through that?

[2018-04-03 21:05] hakandilek commented on #56
Thanks @spinscale !
I did wait a couple of days for other contributors to join the new organization but nobody else joined yet.
Meanwhile we can discuss if we need another major version bump since groupIds `pom.xml` will change.

[2018-04-03 21:32] spinscale commented on #56
+1 for major release on such a big change

[2018-04-03 21:33] spinscale commented on #56
I also think you may need to invite the others specifically (not sure how all of this works, but making it explicit makes sense I guess)

[2018-04-03 21:40] hakandilek commented on #56
Yes I did invite everyone in the contributors list.

[2018-04-03 21:50] hakandilek commented on #56
What about packages?
Does it make sense for a rename like `de.spinscale.dropwizard.jobs` -> `io.dropwizard.jobs`?

[2018-04-24 06:48] migzai opened #79 "Dropwizard YAML job configuration with @On"
Hi,

I've defined one job in my YAML configuration file:

jobs:
  cronJob: "0 0/3 0 ? * * *"

Now in my job class, i'm trying to use it:

@On("${cronJob}")
public class DbCleanupJob extends Job

I'm getting the below exception:

! java.text.ParseException: Unexpected character: $
! at org.quartz.CronExpression.storeExpressionVals(CronExpression.java:707)
! at org.quartz.CronExpression.buildExpress

[2018-04-24 23:31] grommitz commented on #79
should work... I've added a test case (see PR #80). can you double check things like the indentation in the yml file and there are extraneous spaces inside the annotation value etc

[2018-04-25 14:39] hakandilek commented on #79
@migzai can you please confirm that it's working with the SNAPSHOT?

[2018-04-25 17:48] migzai commented on #79
Yes it does.

[2018-04-25 17:57] hakandilek commented on #79
Thanks. I'm closing this one.

[2018-04-25 17:57] #79 closed

[2018-05-02 10:38] vic0075 opened #81 "Artifact not found in maven central"
There only two artifacts with the name `dropwizard-jobs-core`

de.spinscale.dropwizard | dropwizard-jobs-core | 3.0.0  all (2) | 08-Feb-2017

de.spinscale | dropwizard-jobs-core | 1.1.5  all (4) | 03-Nov-2016

No artifact with group - "dropwizard-jobs"

[2018-05-02 10:51] vic0075 opened #82 "Cron Expression not working"
I've followed every instruction in the readme but it is not working for me

config.yaml
`jobs:
  cronjob: "0/9 0 0 * * ? *"
`
Job:
`@On("${cronjob}")
public class DeletionJob extends Job {
`

Application:
`DeletionJob deleteJob = new DeletionJob();
        bootstrap.addBundle(new JobsBundle(deleteJob));`

Getting Error:
`Caused by: java.lang.RuntimeException: CronExpression '${cronjob}' is invalid

[2018-05-02 11:02] grommitz commented on #81
That's right, the groupId dropwizard-jobs will be used from version 4.0.0 onwards.

[2018-05-02 11:04] grommitz commented on #82
That feature will be released in version 4 I believe. Are you using version 3?

[2018-05-02 11:36] hakandilek commented on #82
@vic0075 can you please try it with a local SNAPSHOT view and let us know if it works?

[2018-05-21 08:26] KatseNarniaan commented on #81
Any idea when version 4.0.0 will be on maven central?

[2018-05-21 10:52] #56 closed

[2018-05-21 10:58] hakandilek commented on #56
First snapshot uploaded to: https://oss.sonatype.org/content/repositories/snapshots/io/github/dropwizard-jobs/dropwizard-jobs/

[2018-05-21 11:03] hakandilek commented on #56
listed as 3rd-party module: https://github.com/dropwizard/modules.dropwizard.io/pull/87

[2018-05-21 11:04] hakandilek commented on #81
@vic0075 and @KatseNarniaan could one of you please test and confirm the 4.0.0-SNAPSHOT release?

https://oss.sonatype.org/content/repositories/snapshots/io/github/dropwizard-jobs/dropwizard-jobs/4.0.0-SNAPSHOT/

[2018-05-21 11:13] hakandilek commented on #63
I have changed the groupId, package names and released a 4.0.0-SNAPSHOT version couple of minutes ago: https://oss.sonatype.org/content/repositories/snapshots/io/github/dropwizard-jobs/dropwizard-jobs/4.0.0-SNAPSHOT/

As this is a major change, we decided to skip any 3.x versions and jump to 4.x. You have to adapt the package imports and `pom.xml`s but it will bring a major advantage of automated

[2018-05-21 11:13] #63 closed

[2018-05-21 11:16] hakandilek commented on #82
@vic0075 can you please check it with the published 4.0.0-SNAPSHOT?

[2018-05-21 11:18] hakandilek commented on #73
I'm closing this as we've deployed 4.0.0-SNAPSHOT. see #87 and #56

[2018-05-21 11:18] #73 closed

[2018-05-22 07:39] hakandilek commented on #74
Could you please try that with 4.0.0-SNAPSHOT and confirm if it's working?

[2018-05-24 10:05] KatseNarniaan commented on #81
Works for me. Thanks!

[2018-05-30 10:38] mangexl commented on #82
@hakandilek , I am looking forward to the @On("${cronjob}") feature. When is 4.0.0 planned to be released?

[2018-06-21 19:14] adamrmelnyk commented on #81
Any Idea when this will be available? I don't see the snapshots of 4.0.0 in the maven central repository. Until then the docs are misleading.

[2018-07-26 07:34] xvik commented on #42
Integration example: https://github.com/xvik/dropwizard-guicey-examples/tree/master/dropwizard-jobs

[2018-09-06 08:16] jonevn commented on #81
Any new information on possible release date?

[2019-01-25 03:43] rsingh-aus commented on #42
Problem with above examples is that these are implementing Bundle (via JobsBundle) instead of ConfiguredBundle. Below example has worked for me :

package com.zuora.loginhistory;

import com.zuora.loginhistory.configuration.LoginHistoryConfiguration;

import com.codahale.metrics.SharedMetricRegistries;
import com.hubspot.dropwizard.guicier.GuiceBundle;
import de.spinscale.dropwizard.jobs.GuiceJobM

[2019-02-21 10:30] alexey-krylov commented on #81
@hakandilek @grommitz any plans to release 4.0.0 version? We going to prod soon, it's bad idea to depend on snapshot versions :(

[2019-03-11 15:52] jansoren commented on #81
What is the holdup on this? And could you create a release candidate?

[2019-03-11 20:45] hakandilek commented on #81
It's mainly contributors' lack of time.

I personally want to build a sustainable release mechanism integrating maven and travisci with sonatype. Unfortunately I couldn't find the time to read Sonatype guidelines and come up with a nice solution. If someone is interested, I can support you guy.

[2019-05-17 16:12] sonatype-depshield[bot] opened #89 "[DepShield] (CVSS 7.5) Vulnerability due to usage of com.mchange:c3p0:0.9.5.2"
**Vulnerabilities**

DepShield reports that this application's usage of [com.mchange:c3p0:0.9.5.2](https://ossindex.sonatype.org/component/pkg:maven/com.mchange/c3p0@0.9.5.2) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-20433] c3p0 0.9.5.2 allows XXE in extractXmlConfigFromInputStream in com/mchange/v2/c3p...](https://ossindex.sonatype.org/vuln/657b67c4-d9b9-49a4-ba79-3e

[2019-05-17 16:12] sonatype-depshield[bot] opened #90 "[DepShield] (CVSS 5.9) Vulnerability due to usage of com.google.guava:guava:24.0-jre"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:24.0-jre](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@24.0-jre) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2018-10237]  Deserialization of Untrusted Data](https://ossindex.sonatype.org/vuln/24585a7f-eb6b-4d8d-a2a9-a6f16cc7c1d0)

<hr />

**Occurrences*

[2019-05-17 16:12] sonatype-depshield[bot] opened #91 "[DepShield] (CVSS 5.9) Vulnerability due to usage of com.google.guava:guava:23.6-android"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:23.6-android](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@23.6-android) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2018-10237]  Deserialization of Untrusted Data](https://ossindex.sonatype.org/vuln/24585a7f-eb6b-4d8d-a2a9-a6f16cc7c1d0)

<hr />

**Occu

[2019-05-17 16:12] sonatype-depshield[bot] opened #92 "[DepShield] (CVSS 7.5) Vulnerability due to usage of org.springframework:spring-core:5.0.4.RELEASE"
**Vulnerabilities**

DepShield reports that this application's usage of [org.springframework:spring-core:5.0.4.RELEASE](https://ossindex.sonatype.org/component/pkg:maven/org.springframework/spring-core@5.0.4.RELEASE) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-1272]  Permissions, Privileges, and Access Controls](https://ossindex.sonatype.org/vuln/aa7190e3-4c47-42d6-82f6

[2019-05-18 00:25] #89 closed

[2019-05-18 00:26] #90 closed

[2019-05-18 00:26] sonatype-depshield[bot] opened #99 "[DepShield] (CVSS 7.5) Vulnerability due to usage of com.mchange:c3p0:0.9.5.3"
**Vulnerabilities**

DepShield reports that this application's usage of [com.mchange:c3p0:0.9.5.3](https://ossindex.sonatype.org/component/pkg:maven/com.mchange/c3p0@0.9.5.3) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-20433] c3p0 0.9.5.2 allows XXE in extractXmlConfigFromInputStream in com/mchange/v2/c3p...](https://ossindex.sonatype.org/vuln/657b67c4-d9b9-49a4-ba79-3e

[2019-05-18 00:28] #91 closed

[2019-05-18 00:31] #92 closed

[2019-05-20 22:53] hakandilek commented on #81
I've finally managed to clean some vulnerable dependencies and  setup the travis pipeline for push a RC.
Could you please give it a go for the `4.0.0-RC1` version?

@alexey-krylov @jansoren?

[2019-05-21 07:22] alexey-krylov commented on #81
@hakandilek thank you so much! Yes, 4.0.0-RC1 appeared in Maven Central

[2019-05-21 20:11] #99 closed

[2019-05-22 18:40] hakandilek opened #108 "Dropwizard 2.x support"
[DW 2.0.0](https://github.com/dropwizard/dropwizard/milestone/18) will be released soon. We should also adapt and release in sync.

I've already prepared a propose PR #103 with the already released DW 2.0.0-rc1

My suggestion is that we dedicate the baseline v4.1.x for DW 2.x

[2019-05-23 05:30] hakandilek commented on #81
Closing this, as 4.0.0 is released

[2019-05-23 05:30] #81 closed

[2019-05-23 08:12] hakandilek commented on #82
@vic0075 @mangexl could you please try it with https://search.maven.org/artifact/io.github.dropwizard-jobs/dropwizard-jobs-spring/4.0.0-RELEASE/jar and give a short feedback?

[2019-06-04 12:39] codefactor-io[bot] opened #110 "Fix 3 Maintainability, 1 Style issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/dropwizard-jobs/dropwizard-jobs) found multiple issues:

#### Trailing spaces
[.travis.yml:28
](https://www.codefactor.io/repository/github/dropwizard-jobs/dropwizard-jobs/source/master/.travis.yml#L28)[.travis.yml:50
](https://www.codefactor.io/repository/github/dropwizard-jobs/dropwizard-jobs/source/master/.travis.yml#L50)[.travis.yml:64
]

[2019-07-16 22:36] hakandilek opened #111 "Avoid useless Job instantiation for Hk2 Jobs"
As stated at [here](https://github.com/dropwizard-jobs/dropwizard-jobs/blob/35f135e4a4e56fad64ba7025f1788f6f11fdcb79/dropwizard-jobs-core/src/main/java/io/dropwizard/jobs/Hk2JobsBundle.java#L77), Hk2 instantiates Jobs unnecessarily. This can be prevented by introducing Hk2JobManager.

Another but relevant point would be creating a seperate sub-module for hk2: dropwizard-jobs-hk2 and moving `Hk2Job

[2019-07-25 22:14] sonatype-depshield[bot] opened #115 "[DepShield] (CVSS 5.9) Vulnerability due to usage of com.fasterxml.jackson.core:jackson-databind:2.9.9"
**Vulnerabilities**

DepShield reports that this application's usage of [com.fasterxml.jackson.core:jackson-databind:2.9.9](https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.9.9) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-12814]  Information Exposure](https://ossindex.sonatype.org/vuln/3e008100-e0d4-45bf-afd2-9d5e9b13efa7)

[2019-07-29 12:38] hakandilek commented on #115
Fixed with #113

[2019-07-29 12:38] #115 closed

[2019-08-12 09:03] bo-jensen opened #116 "org.quartz.core.JobRunShell: Job <group + job name> threw an unhandled Exception: !java.lang.NullPointerException"
Hello,

I am in the process of implementing dropwizard-jobs into a project. In the project, I would like for the users to be able to schedule jobs.

As it looks like dropwizard-jobs focuses on scheduling jobs on start-up via annotations, I thought I would try using the regular quartz workflow for adding new jobs during run-time.

1. During Dropwizard initialization I create a JobsBundle (with an i

[2019-08-12 13:38] hakandilek commented on #116
Hi Bo,

yeah, dw-j kind of depends on annotations for scheduling and figuring out job keys. see: [JobManager.java](https://github.com/dropwizard-jobs/dropwizard-jobs/blob/master/dropwizard-jobs-core/src/main/java/io/dropwizard/jobs/JobManager.java).

If you come up with an idea to cover your case, your PR is welcome.

Regards,
Hakan

[2019-08-22 22:12] hakandilek commented on #110
resolved by #112

[2019-08-22 22:12] #110 closed

[2020-01-24 19:29] edovale opened #123 "Second call to getJobs causes jobs to be instantiated twice."
Is it really necessary to make this call here again? The call to the super constructor already locates all the jobs in the guice context; why call it again?

https://github.com/dropwizard-jobs/dropwizard-jobs/blob/82749ca5ab8940bb87691273038b78b3d2a17cda/dropwizard-jobs-guice/src/main/java/io/dropwizard/jobs/GuiceJobManager.java#L23

[2020-01-24 19:37] hakandilek commented on #123
Good catch @edovale .

Would you like to provide a patch before the release?

[2020-01-24 20:14] edovale commented on #123
Will do.

On Fri, Jan 24, 2020, 2:37 PM Hakan Dilek <notifications@github.com> wrote:

[2020-02-25 15:52] hakandilek commented on #108
Done by #103

[2020-02-25 15:52] #108 closed

[2020-07-05 08:32] Lavie526 opened #127 "Failure to find io.github.dropwizard-jobs:dropwizard-jobs:jar:4.0.0-RELEASE in https://repo.maven.apache.org/maven2 was cached in the local repository, resolution will not be reattempted until the update interval of central has elapsed or updates are forced -> [Help 1]"
I have added  the below dependency settings in the pom

<dependency>
  <groupId>io.github.dropwizard-jobs</groupId>
  <artifactId>dropwizard-jobs</artifactId>
  <version>4.0.0-RELEASE</version>
</dependency>

Howwever, i am still meet the build error? anything wrong?

[2020-07-05 08:33] Lavie526 commented on #127
I also tried to build in local, the latest version is 4.1.0-SNAPSHOT, but it won't be pull from local.

[2020-08-28 13:45] HennoVermeulen opened #128 "documentation mentions artifactId without code"
The documentation mentions to use Maven `<artifactId>dropwizard-jobs</artifactId>`. I think this is a Maven multi-module project/parent pom with quartz and dropwizard dependencies but without any code. When depending on this, I don't get the class `JobsBundle` and the interface `JobConfiguration`. This is solved when I use

`<artifactId>dropwizard-jobs-core</artifactId>`

I must say that I use Gra

[2020-08-28 17:31] christopherkao commented on #127
I found that I needed to use `dropwizard-jobs-core` instead of `dropwizard-jobs`. See here: https://mvnrepository.com/artifact/io.github.dropwizard-jobs/dropwizard-jobs-core

[2020-09-09 22:06] pas-marcus commented on #128
Thank you @HennoVermeulen for sharing this work around. I have the same issue with my gradle project, and your solution has worked.

[2020-12-02 23:09] genyherrera opened #131 "Dropwizard-bundle existing Job on @OnApplicationStart"
Hello all!
I was trying to use quartz in cluster mode and JobStoreTX with StdJDBCDelegate:
[code]
With the following jobs annotated as @OnApplicationStart
[code]
First time running the application, everything is ok, but as soon as I try to restart my serve, I'm getting into:
[code]

Why don't get check if there is already a process with that JobKey `only for @OnApplicationStart and do not schedule

[2020-12-02 23:49] sonatype-depshield[bot] opened #133 "[DepShield] (CVSS 7.5) Vulnerability due to usage of org.yaml:snakeyaml:1.24"
**Vulnerabilities**

DepShield reports that this application's usage of [org.yaml:snakeyaml:1.24](https://ossindex.sonatype.org/component/pkg:maven/org.yaml/snakeyaml@1.24) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2017-18640] The Alias feature in SnakeYAML 1.18 allows entity expansion during a load operat...](https://ossindex.sonatype.org/vuln/4e1d093b-9ce9-4fc1-8089-5a1c

[2020-12-06 20:36] grommitz commented on #42
hi folks, my example shows how to use an "Installer" class from guicey to detect the job classes, this way you don't need to use GuiceJobsBundle at all: https://github.com/grommitz/dropwizard-jobs-guicey-example

[2020-12-11 19:32] jokyjang commented on #128
Same here. Thanks @HennoVermeulen

[2020-12-11 23:16] #123 closed

[2020-12-11 23:17] grommitz commented on #123
merged the PR, thanks Erick

[2020-12-12 02:33] edovale commented on #123
awesome. Thank you.

On Fri, Dec 11, 2020 at 6:17 PM Martin Charlesworth <
notifications@github.com> wrote:

[2020-12-18 04:31] abhinav2600 commented on #42
@grommitz Thanks. Really helpful example. We spent a lot of time trying to figure it out and yours just worked.

[2021-05-27 11:59] ddovgal opened #136 "Why there were no releases on Maven Central since 4.0.0-RELEASE version?"
I can see, that the current version is `4.1.0-SNAPSHOT` with `<dropwizard.version>2.0.1</dropwizard.version>` while `4.0.0-RELEASE` has `<dropwizard.version>1.3.11</dropwizard.version>`. This makes the latest maven release be uncompatiable with new 2.X Dropwizard due to changes in `Hk2JobsBundle` provided by [this commit](https://github.com/dropwizard-jobs/dropwizard-jobs/commit/3fcda87a2c117c82b0

[2021-06-29 13:11] mihalyr opened #137 "JobsBundle initializes MetricRegistry after Jobs have been created with final registries already"
The `Job` class constructor created a MetricRegistry if none exists yet and stores it as a final field. The `JobsBundle`  constructor takes the list of `Job` instances, so we the jobs have to be already initialized with metric registries *before* the bundle is created. Then the `JobsBundle` calls `SharedMetricRegistries.add` during initialization that does not do anything, since it does a `putIfAb

[2021-11-13 01:01] keysightschaefer opened #140 "ConfigOverride during testing will not accept Quartz properties which are have . in them."
Dropwizard testing indicates we should use the following technique to override configuration file properties for in-the-moment changes.  So if one is using TestContainers to standup a database you might do:
[code]

However if one is trying to setup a DB backed job store then you need to start mussing with the quartz properties.  The way the JobConfiguration interface is setup, these quartz propert

[2021-11-24 03:19] GuilhermeCouto commented on #136
There are two warnings now in Java 11:

The POM for com.sun.xml.bind:jaxb-core:jar:2.2.11 is invalid, transitive dependencies (if any) will not be available, enable debug logging for more details
The POM for com.sun.xml.bind:jaxb-impl:jar:2.2.11 is invalid, transitive dependencies (if any) will not be available, enable debug logging for more details

[2021-11-24 12:10] GuilhermeCouto commented on #136
With this pom.xml works:

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>io.github.dropwizard-jobs</groupId>
    <artifactId>dropwizard-jobs</artifactId>
    <version>4.1.0-SNAPSHOT</versio

[2021-11-24 12:21] GuilhermeCouto commented on #136
@hakandilek can you update?

[2022-01-16 16:45] #131 closed

[2022-01-16 16:45] sonatype-depshield[bot] opened #142 "[DepShield] (CVSS 7.5) Vulnerability due to usage of com.fasterxml.jackson.core:jackson-databind:2.10.1"
**Vulnerabilities**

DepShield reports that this application's usage of [com.fasterxml.jackson.core:jackson-databind:2.10.1](https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.10.1) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2020-25649] A flaw was found in FasterXML Jackson Databind, where it did not have entity exp...](https://o

[2022-01-16 16:45] sonatype-depshield[bot] opened #143 "[DepShield] (CVSS 3.3) Vulnerability due to usage of com.google.guava:guava:28.2-jre"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:28.2-jre](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@28.2-jre) results in the following vulnerability(s):

- (CVSS **3.3**) [[CVE-2020-8908] A temp directory creation vulnerability exist in Guava versions prior to 30.0 al...](https://ossindex.sonatype.org/vuln/8e973be2-4220

[2022-01-16 16:45] sonatype-depshield[bot] opened #144 "[DepShield] (CVSS 7.5) Vulnerability due to usage of org.eclipse.jetty:jetty-server:9.4.26.v20200117"
**Vulnerabilities**

DepShield reports that this application's usage of [org.eclipse.jetty:jetty-server:9.4.26.v20200117](https://ossindex.sonatype.org/component/pkg:maven/org.eclipse.jetty/jetty-server@9.4.26.v20200117) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2020-27223] In Eclipse Jetty 9.4.6.v20170531 to 9.4.36.v20210114 (inclusive), 10.0.0, and 11...](https://ossinde

[2022-01-16 16:45] sonatype-depshield[bot] opened #145 "[DepShield] (CVSS 7.5) Vulnerability due to usage of org.eclipse.jetty:jetty-http:9.4.26.v20200117"
**Vulnerabilities**

DepShield reports that this application's usage of [org.eclipse.jetty:jetty-http:9.4.26.v20200117](https://ossindex.sonatype.org/component/pkg:maven/org.eclipse.jetty/jetty-http@9.4.26.v20200117) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2020-27223] In Eclipse Jetty 9.4.6.v20170531 to 9.4.36.v20210114 (inclusive), 10.0.0, and 11...](https://ossindex.so

[2022-01-16 16:45] sonatype-depshield[bot] opened #146 "[DepShield] (CVSS 3.3) Vulnerability due to usage of com.google.guava:guava:25.1-android"
**Vulnerabilities**

DepShield reports that this application's usage of [com.google.guava:guava:25.1-android](https://ossindex.sonatype.org/component/pkg:maven/com.google.guava/guava@25.1-android) results in the following vulnerability(s):

- (CVSS **3.3**) [[CVE-2020-8908] A temp directory creation vulnerability exist in Guava versions prior to 30.0 al...](https://ossindex.sonatype.org/vuln/8e973

[2022-03-11 09:35] firebiird commented on #128
Yes I agree. I think the documentation should be updated to be :

[code]

[2022-06-02 07:30] Eoin-Murphy opened #147 "Compatability with Dropwizard 2.0.X +"
Dropwizard-jobs-core is does not work with dropwizard 2.0.X or higher because Jersey was updated to 2.29 which means that there is no longer any access to the service locator. This is the error I get when I try to run dropwizard-jobs-core 4.0.0-RELEASE with dropwizard 2.0.26

`java.lang.NoSuchMethodError: 'org.glassfish.hk2.api.ServiceLocator org.glassfish.jersey.server.ApplicationHandler.getServi

[2022-07-02 23:07] trenunu commented on #54
Can we please have an example of using HK2 CDI in jobs?

[2022-08-30 08:47] seunkx opened #148 "Is it possible to run a job at fixed rate?"
I'm asking if a new job can begin execution even if a current job is not completed.